{% include 'top.html' %}

<div class="d-sm-inline-flex">
    <h2 class="px-3">Members</h2>

    <a class="text-secondary d-inline-flex" href="add/">
        Add member
    </a>
</div>

<div class="accordion" id="member-list">
    {% for x in mymembers %}

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#_{{x.id}}"
                aria-controls="collapseOne">
                {{x.firstname}} {{x.lastname}}
            </button>
        </h2>
        <div id="_{{x.id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#member-list">
            <div class="accordion-body">
                <div class="row align-items center">
                    <div class="col-12 py-2">
                        <div class="input-group">
                            <div class="input-group-text">First</div>
                            <input type="text" value="{{x.firstname}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-12 py-2">
                        <div class="input-group">
                            <div class="input-group-text">Last</div>
                            <input type="text" value="{{x.lastname}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-12 py-2">
                        <div class="input-group">
                            <div class="input-group-text">Email</div>
                            <input type="text" value="{{x.email}}" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-12 py-2">
                        <div class="d-sm-inline-flex">
                            <button class="btn btn-success px-2 mx-2">
                                <a class="text-white" href="update/{{ x.id }}">Edit</a>
                            </button>

                            <button class="btn btn-danger">
                                <a class="text-white" href="delete/{{ x.id }}">Delete</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% include 'bottom.html' %}